
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>CompleteForgetPassword</h1>

<div class="container text-center">
    <div class="w-50 bg-light mx-auto m-3">
       <div>
           Password reset link has been send in your Email ,, Please check Your Inbox 
           :) ^_^    </div>

            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Your Inbox</a>
    </div>
</div>
@section Scripts {
             <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
             <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}