
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ResetPasswordDone</h1>


<div class="container text-center">
    <div class="w-50 bg-light mx-auto m-3">
       <div>
           Your Password was reseted Successfuly,  Please Sign in Again :) ^_^    </div>
           <a asp-controller="Account" asp-action="SignIn">SignIn</a>
    </div>
</div>
@section Scripts {
         <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
         <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}