@model RegisterViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1 class="text-light my-3">SignUp</h1>

<div class="text-center ">
    <div class="w-50 mx-auto">
        <form asp-action="SignUp" class="py-4 ">
            <input class="form-control my-3 w-100 rounded bg-light border-0 " type="email" asp-for="Email" placeholder="Email" required />
            <span asp-validation-for="@Model.Email"></span>
            <input class="form-control my-3 w-100 rounded bg-light border-0 " type="password" asp-for="Password" placeholder="Password" required />
            <span asp-validation-for="@Model.Password"></span>
            <input class="form-control my-3 w-100 rounded bg-light border-0 " type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required />
            <div class="">
                <label>
                    <input type="checkbox" asp-for="IsAgree" required />
                    <span>I Agree To The Terms & conditions</span>
                </label>

            </div>        
            <input class="form-control my-3 rounded-pill bg-light border-0 " type="submit" value="SIGNUP" />
        </form>
        <p>Don't have an Account ? <a asp-action="SignIn"> Login Now!</a></p>
    </div>
</div>
@section Scripts {
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}